table td.identifier  div.options {
	display: none;
}
table td.identifier  div.options a {
	color: red;
	font-size: 11px;
}
table td.identifier {
	font-weight: bold;
}
input.title {
	font-size: 22px;
	width: 100%;
	height: 30px;
}
.placeholder {
	outline: 1px dashed #4183C4;
		/*-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin: -1px;*/
}
ul.nav-tabs li a {
	font-size: 11px;
}
div.box-header h2 {
	font-size: 13px;
}